# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see:
# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions


name: smacv2_tests

on:
  push:
    branches: [ $default-branch , "main" ]
  pull_request:
    branches: [ $default-branch , "main" ]

permissions:
  contents: read

jobs:
  tests:
    if: ${{ github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'smacv2') }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
       bash .github/unittest/install_dependencies.sh
    - name: Install smacv2
      run: |
       bash .github/unittest/install_smacv2.sh

    - name: Test with pytest
      run: |
        root_dir="$(git rev-parse --show-toplevel)"
        export SC2PATH="${root_dir}/StarCraftII"
        echo 'SC2PATH is set to ' "$SC2PATH"

        pytest test/test_smacv2.py --doctest-modules --junitxml=junit/test-results.xml --cov=. --cov-report=xml --cov-report=html

    - if: matrix.python-version == '3.10'
      name: Save code coverage to artifact
      uses: actions/upload-artifact@v3
      with:
        name: code-coverage
        path: "coverage.xml"
        retention-days: 5

  upload-coverage:
    runs-on: ubuntu-latest
    needs:
      - tests
    steps:
      - uses: actions/checkout@v4
      - name: Fetch code coverage artifact
        uses: actions/download-artifact@v3
        with:
          name: code-coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: false
